h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-size: 14px;
}

nav{
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

body{
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    background-color: white;
    text-align: center;
}

.sectionbreak{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-color: white;
}
